.app-container {
  padding: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.heading-container {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 40px;
  width: 25px;
  margin-right: 5px;
}

.main-heading {
  font-size: 34px;
  color: #ffffff;
  font-family: 'Bree Serif';
}

.matches-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
}
